<h1>Administration</h1>
<table style="text-align: left; width: 100%;" border="0" cellpadding="3" cellspacing="0">
        <tr>
          <td align="center"><a href="<?php echo $scripturl ?>admin/config"><img src="<?php echo $imageurl ?>/admin/main/config.png" border="0" alt=""></a><br>Konfiguration</td>
          <td align="center"><a href="<?php echo $scripturl ?>admin/user"><img src="<?php echo $imageurl ?>/admin/main/user.png" border="0" alt=""></a><br>Benutzerverwaltung</td>
          <td align="center"><a href="<?php echo $scripturl ?>admin/pages"><img src="<?php echo $imageurl ?>/admin/main/pages.png" border="0" alt=""></a><br>Statische Seiten</td>
          <td align="center"><a href="<?php echo $scripturl ?>admin/categories"><img src="<?php echo $imageurl ?>/admin/main/categories.png" border="0" alt=""></a><br>Kategorien</td>
        </tr>
        <tr>
          <td align="center"><a href="<?php echo $scripturl ?>admin/modules"><img src="<?php echo $imageurl ?>/admin/main/modules.png" border="0" alt=""></a><br>Modulverwaltung</td>
          <td align="center"><a href="<?php echo $scripturl ?>admin/menue"><img src="<?php echo $imageurl ?>/admin/main/menue.png" border="0" alt=""></a><br>Men&uuml;</td>
          <td align="center"><a href="<?php echo $scripturl ?>admin/sysinfo"><img src="<?php echo $imageurl ?>/admin/main/sysinfo.png" border="0" alt=""></a><br>Systeminfo</td>
          <td align="center"><a href="<?php echo $scripturl ?>admin/useraccess"><img src="<?php echo $imageurl ?>/admin/main/useraccess.png" border="0" alt=""></a><br>Rechteverwaltung</td>
        </tr>      
</table>
