<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>
      S7Nadmin
    </title>
    <style type="text/css">
/*<![CDATA[*/
    <!--
    @import url("<?php echo $scripturl ?>templates/<?php echo $theme ?>/zitemplate00.css");
    -->
    /*]]>*/
    </style>
  </head>
  <body>
    <div id="container">
    
      <!-- header -->
      <div id="header">
        <h1>
          S7Nadmin
        </h1>
        <p class="slogan"></p>
      </div>
      
      <!-- main menu -->
      <div id="mainmenu">
        <ul>
          <li>
            <a href="<?php echo $scripturl ?>admin">Start</a>
          </li>
          <li>
            <a href="#">bla</a>
          </li>
          <li>
            <a href="#">bla</a>
          </li>
          <li>
            <a href="#">bla</a>
          </li>
          <li>
            <a href="#">bla</a>
          </li>
        </ul>
      </div>
      
      <!-- content area -->
      <div id="content">
        <?php echo $content ?>
        <!-- h1>
          Heading 1 &lt;h1&gt;
        </h1>
        <h2>
          Heading 2 &lt;h2&gt;
        </h2>
        <h3>
          Heading 3 &lt;h3&gt;
        </h3>
        <h4>
          Heading 4 &lt;h4&gt;
        </h4>
        <h5>
          Heading 5 &lt;h5&gt;
        </h5>
        <h6>
          Heading 6 &lt;h6&gt;
        </h6>
        <p>
          A normal paragraph of text, A normal paragraph of text, A normal paragraph of text, A
          normal paragraph of text, A normal paragraph of text, A normal paragraph of text, A
          normal paragraph of text, A normal paragraph of text, A normal paragraph of text,
        </p>
        <hr />
        <p class="highlight">
          A paragraph of text with class="highlight", A paragraph of text with class="highlight", A
          paragraph of text with class="highlight", A paragraph of text with class="highlight", A
          paragraph of text with class="highlight",
        </p>
        <hr />
        <p class="subdued">
          A paragraph of text with class="subdued", A paragraph of text with class="subdued", A
          paragraph of text with class="subdued", A paragraph of text with class="subdued", A
          paragraph of text with class="subdued",
        </p>
        <hr />
        <p class="strike">
          A paragraph of text with class="strike", A paragraph of text with class="strike", A
          paragraph of text with class="strike", A paragraph of text with class="strike", A
          paragraph of text with class="strike",
        </p>
        <hr />
        <p class="error">
          A paragraph of text with class="error", A paragraph of text with class="error", A
          paragraph of text with class="error", A paragraph of text with class="error", A paragraph
          of text with class="error",
        </p>
        <hr />
        <p class="success">
          A paragraph of text with class="success", A paragraph of text with class="success", A
          paragraph of text with class="success", A paragraph of text with class="success", A
          paragraph of text with class="success",
        </p>
        <hr />
        <p>
          <small>A paragraph of text with the text with &lt;small&gt; tags, A paragraph of text
          with the text with &lt;small&gt; tags, A paragraph of text with the text with
          &lt;small&gt; tags, A paragraph of text with the text with &lt;small&gt; tags, A
          paragraph of text with the text with &lt;small&gt; tags,</small>
        </p>
        <hr />
        <p>
          <strong>A paragraph of text with the text with &lt;strong&gt; tags, A paragraph of text
          with the text with &lt;strong&gt; tags, A paragraph of text with the text with
          &lt;strong&gt; tags, A paragraph of text with the text with &lt;strong&gt; tags, A
          paragraph of text with the text with &lt;strong&gt; tags,</strong>
        </p>
        <hr />
        <h3>
          Lists
        </h3>
        <ul>
          <li>Unordered List
          </li>
          <li>
            <a href="#">Unordered List link</a>
          </li>
        </ul>
        <ol>
          <li>Ordered List
          </li>
          <li>
            <a href="#">Ordered List link</a>
          </li>
        </ol-->
      </div>
      
      <div id="footer">
        <p class="center">
          &copy; 2006 Eduard Baun | Design by <a href="http://zidesigns.com">Zaigham</a>
        </p>
      </div>
      
    </div>
  </body>
</html>
